/* Add your styling here: */
body {
    background-color: #4059AD;
    color: black;
    font-size: 20px;
}

h1 {
    text-align: center;
    color: #F4B942;
    text-decoration: underline;
}

#profile {
    display: block;
}

#profile div {
    order: 1;
  
    background-color: #97D8C4;
    margin: 10px;
}

#profile img {
    order: 2;
    border: solid #6B9AC4 5px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;

}

p {
    display: block;
    text-align: left;
}


